<div id="content-wrapper">
    <div class="container-fluid">
       <h1>Order Details</h1>
       <div class="demo">
          <section class="my-5">
             <div class="container">
                <div class="main-body">
                   <div class="row">
                      <div class="col-lg-4">
                         <div class="card">
                            <div class="card-body">
                               <div class="d-flex flex-column align-items-center text-center">
                                  <div class="mt-3">
                                     <h4>Mohamed Ashraf</h4>
                                     <p class="text-secondary mb-1">Mohamed.Ashraf@Gmail.com</p>
                                     <p class="text-muted font-size-sm">01144558866</p>
                                     <br>
                                     <hr>
                                     <br>
                                     <p class="text-muted font-size-sm">125 Z, Hadayek Al Ahram, Haram, Giza Governorate</p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-8">
                         <div class="card">
                            <div class="card-body">
                               <div class="top-status">
                                  <h5 style="    color: #b4293d;">ORDER# {{this.order.OrderId}}</h5>
                                  <hr>
                                  <div class="row">
                                     <div class="col-md-4">
                                        <div class="border-left-lightno">
                                           <p class="lightorder">
                                              PAYMENT METHOD
                                           </p>
                                           <p class="boldorder">
                                              {{this.order.PaymentType}}
                                           </p>
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <div class="border-left-light">
                                           <p class="lightorder">
                                              TOTAL 
                                           </p>
                                           <p class="boldorder">
                                              59.00 $
                                           </p>
                                        </div>
                                     </div>
                                     <div class="col-md-5">
                                        <div class="border-left-light">
                                           <p class="lightorder">
                                              DATE
                                           </p>
                                           <p class="boldorder">
                                             {{this.order.OrderDate}}
                                           </p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="card mt-4">
                            <div class="card-body p-0 table-responsive">
                               <h4 class="p-3 mb-0">Products</h4>
                               <table class="table mb-0">
                                  <thead>
                                     <tr>
                                        <th scope="col">ProductId</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col"></th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let product of this.order.Products">
                                        
                                        <td>{{product.ProductId}}
                                        </td>
                                        <td>{{product.Quantity}}</td>
                                        <td><strong>$200</strong></td>
                                     </tr>
                                     <tr>
                                       
                                        <td colspan="3">
                                           <span class="text-muted">Total Price</span>
                                           <strong>$100</strong>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </section>
       </div>
    </div>
 </div>